.vue-codemirror {
    width: 100%;
}

li.sidebar-item a:hover {
    cursor: pointer;
    text-decoration: none;
}

#dropdownMenuButton {
    min-width: 10rem;
}

.dropdown-toggle {
    text-align: right;
}